extends ../layout

append css
  link(rel="stylesheet", href="/css/article.css")
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.24.1/themes/prism.css">
append js
  <script src="https://cdn.jsdelivr.net/npm/prismjs@1.24.1/components/prism-core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/prismjs@1.24.1/plugins/autoloader/prism-autoloader.min.js"></script>
block main
  img.article-bg(src= 'https://file.lihailezzc.com/' + article.imgurl, alt="", srcset="")
  .container
    .row
      .article-left.col-lg-12.col-12
        .article
          .article-info
            h1.article-title #{article.title}
            .article-meta
              span.article-create
                i.fa.fa-calendar &nbsp; #{moment(article.meta.createdAt).format('YYYY-MM-DD')} &nbsp;
              span.article-category
                i.fa.fa-shopping-basket &nbsp;
                a(href='/category/' + article.category._id, target="_black") #{article.category.name} &nbsp;
              span.article-create
                i.fa.fa-eye &nbsp; #{watch}
          p!= article.content
        if article.comments.length !== 0
          .commentList
            .commentTitle
              h3 #{article.comments.length} 条评论
            each comment in article.comments
              .acomment
                div.card.text-center
                  div.card-header #{comment.email}
                  div.card-body
                    img(src= 'http://file.lihailezzc.com/1.png', style='border-radius: 50%; width: 4em;height: 4em;')
                    p.card-text #{comment.content}
                  div.card-footer.text-muted #{moment(comment.createdAt).format('YYYY-MM-DD')}
        .comment
          form.form-signin(method="post", action="/comment/" + article._id)
            h3.form-signin-heading(style="margin-bottom:1em;") 评论

            div.input-group.mb-3
              <input type="email" name="email" class="form-control" placeholder="你的邮箱" aria-label="你的邮箱" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">@example.com</span>
              </div>

            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">内容</span>
              </div>
              <textarea name="comment" class="form-control" aria-label="内容"></textarea>
            </div>

            button.btn.btn-primary.btn-block(type="submit", style="margin-top:1em;width:10%") 确定
      //- .article-right.col-lg-3.col-12
      //-   if article.tags.length > 0
      //-     .article-tags
      //-       i.fa.fa-tags.tags-title &nbsp;标签
      //-       each tag in article.tags
      //-         p #{tag}
