extends ../layout

append css
  link(rel="stylesheet", href="/css/article.css")
block main
  img.article-bg(src= 'https://file.lihailezzc.com/' + article.imgurl, alt="", srcset="")
  .container
    .row
      .article-left.col-lg-12.col-12
        .article
          .article-info
            h1.article-title #{article.title}
            .article-meta
              span.article-create
                i.fa.fa-calendar &nbsp; #{moment(article.meta.createdAt).format('YYYY-MM-DD')} &nbsp;
              span.article-category
                i.fa.fa-shopping-basket &nbsp;
                a(href='/category/' + article.category._id, target="_black") #{article.category.name} &nbsp;
              span.article-create
                i.fa.fa-eye &nbsp; #{watch}
          p!= article.content
        if article.comments.length !== 0
          .commentList
            .commentTitle
              h3 #{article.comments.length} Comments
            each comment in article.comments
              .acomment
                .acommentFlex
                  img(src= comment.from.headimg)
                  .acommentInfo
                    p #{comment.from.nickname}
                    p #{moment(comment.created).format('YYYY-MM-DD')}
                .acommentCon
                  p #{comment.content}
        if user
          .comment
            form.form-signin(method="post", action="/comment/" + article._id)
              h2.form-signin-heading 评论

              label.sr-only(for="comment") 内容
              textarea.form-control(name="comment", cols="30", rows="10", required="")

              button.btn.btn-lg.btn-primary.btn-block(type="submit", style="margin-top:3em;") 确定
        else
          a(href="/login")
            button.btn.btn-lg.btn-primary.btn-block(type="submit", style="margin-top:3em;") 登录后即可评论
      //- .article-right.col-lg-3.col-12
      //-   if article.tags.length > 0
      //-     .article-tags
      //-       i.fa.fa-tags.tags-title &nbsp;标签
      //-       each tag in article.tags
      //-         p #{tag}
