extends ../layout

append css
  link(rel="stylesheet", href="/css/home.css")
block main
  .home-front
    .logo
      img(src="/images/zzc.png", alt="", srcset="")
  nav.navbar.navbar-expand-sm.bg-dark.navbar-dark 
    a.navbar-brand(href='/') 导航
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#collapsibleNavbar")
      span.navbar-toggler-icon
    .collapse.navbar-collapse#collapsibleNavbar
      ul.navbar-nav.mr-auto
        //- li.nav-item 
        //-   a.nav-link(href="/aboutMe") 关于我
        li.nav-item 
          a.nav-link(href="/messageBoard") 留言板
        li.nav-item
      form.form-inline.my-2.my-lg-0
        input(name="keyword", type="search" placeholder="搜索" aria-label="Search").form-control.mr-sm-2
        button(type="submit").btn.btn-outline-info.my-2.my-sm-0
          i.fa.fa-search
        //- if user
        //-   li.nav-item 
        //-     a.nav-link(href="/personal") 个人中心
  .container
    .row
      .col-lg-8.col-12
        if cate
          h4 #{cate.name}分类下的所有文章
        each article in articles
          .single-blog-post
            .image-box
              img(src= 'https://file.lihailezzc.com/' + article.imgurl, alt="", srcset="")
            .post-meta-box.bg-box
              .top-info
                .top-info-category
                  a(href="/category/" + article.category._id) #{article.category.name}
                .top-info-date
                  i.fa.fa-calendar &nbsp; #{moment(article.meta.createdAt).format('YYYY-MM-DD')} &nbsp;
                  i.fa.fa-eye &nbsp; (#{watch.includes(article.title) ? watch[(watch.findIndex(item => item === article.title) + 1)] : 0}) &nbsp;
                  i.fa.fa-comment &nbsp; (#{article.comments.length}) &nbsp;
              h4 
                a.post-title(href='/article/' + article.slug) #{article.title}
        if pageCount > 1
          nav
            ul.pagination
              - var currentPage = 1
              while currentPage <= pageCount
                if (currentPage === pageNum)
                  li.active.page-item
                    a(href="?page=" + currentPage).page-link= currentPage++
                else
                  li.page-item
                    a(href="?page=" + currentPage).page-link= currentPage++
      .col-lg-4.col-md-7.col-12.theme-main-sidebar
        .sidebar-box.bg-box.sidebar-categories
          h6.fa.fa-shopping-basket.ranking 文章类别
          ul
            each category in categories
              li
                a(href="/category/" + category._id) #{category.name}
        .sidebar-box.bg-box.sidebar-categories.sidebar-ranking
          h6.fa.fa-fire.ranking &nbsp;热门文章排行
          ul
            each article in allarticles.filter(item => articleRank.includes(item.title) ? Object.assign(item, {score: articleRank[articleRank.findIndex(each => each === item.title) + 1]}) : '').sort((a, b) => b.score - a.score )
              li 
                a(href='/article/' + article.slug) #{article.title} #{article.score} 
    .container-right
