extends ../layout

append css
  link(rel="stylesheet", href="/css/home.css")
append js
  script(src="/js/myfocus-2.0.4.min.js")
  script.
    myFocus.set({
      id: 'boxID',//焦点图盒子ID
      pattern: 'mF_fscreen_tb',//焦点图风格的名称
      time: 3,//切换时间间隔(秒)
      trigger: 'click',//触发切换模式:'click'(点击)/'mouseover'(悬停)
      delay: 200,//'mouseover'模式下的切换延迟(毫秒)
      txtHeight: 'default'//标题高度设置(像素),'default'为默认CSS高度，0为隐藏
    });
block main
  .home-front
    #boxID
      .pic
        ul
          each banner in banners
            li
              a(href="#")
                img(src="https://file.lihailezzc.com/" + banner.pic_path alt=banner.title text="12321")
  nav.navbar.navbar-expand-sm.bg-dark.navbar-dark 
    a.navbar-brand(href='/') 导航
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#collapsibleNavbar")
      span.navbar-toggler-icon
    .collapse.navbar-collapse#collapsibleNavbar
      ul.navbar-nav.mr-auto
        li.nav-item 
          a.nav-link(href="/aboutMe") 关于我
        li.nav-item 
          a.nav-link(href="/messageBoard") 留言板
        li.nav-item
      form.form-inline.my-2.my-lg-0
        input(name="keyword", type="search" placeholder="搜索" aria-label="Search").form-control.mr-sm-2
        button(type="submit").btn.btn-outline-info.my-2.my-sm-0
          i.fa.fa-search
        //- if user
        //-   li.nav-item 
        //-     a.nav-link(href="/personal") 个人中心
  .container
    .row
      .col-lg-8.col-12
        if cate
          h4 #{cate.name}分类下的所有文章
        each article in articles
          .single-blog-post
            .image-box
              img(src= 'https://file.lihailezzc.com/' + article.imgurl, alt=article.title, srcset="")
            .post-meta-box.bg-box
              .top-info
                .top-info-category
                  a(href="/category/" + article.category._id) #{article.category.name}
                .top-info-date
                  i.fa.fa-calendar &nbsp; #{moment(article.meta.createdAt).format('YYYY-MM-DD')} &nbsp;
                  i.fa.fa-eye &nbsp; (#{watch.includes(article.title) ? watch[(watch.findIndex(item => item === article.title) + 1)] : 0}) &nbsp;
                  i.fa.fa-comment &nbsp; (#{article.comments.length}) &nbsp;
              h4 
                a.post-title(href='/article/' + article.slug) #{article.title}
        if pageCount > 1
          nav
            ul.pagination
              - var currentPage = 1
              while currentPage <= pageCount
                if (currentPage === pageNum)
                  li.active.page-item
                    a(href="/" + currentPage).page-link= currentPage++
                else
                  li.page-item
                    a(href="/" + currentPage).page-link= currentPage++
      .col-lg-4.col-md-7.col-12.theme-main-sidebar
        .sidebar-box.bg-box.sidebar-categories
          h6.fa.fa-shopping-basket.ranking 文章类别
          ul.cateUl
            each category in categories
              li
                a.cateItemLi(href="/category/" + category._id) #{category.name}
        .sidebar-box.bg-box.sidebar-categories.sidebar-ranking
          h6.fa.fa-fire.ranking &nbsp;热门文章排行
          ul.hotUl
            each article, index  in allarticles
              li.hotLi
                a.hota(href='/article/' + article.slug) #{index + 1} #{article.title}
    .container-right
