extends ../layout

append css
  link(rel="stylesheet", href="/css/home.css")
append js
  script(src="/js/myfocus-2.0.4.min.js" nonce="NONCE_TOKEN")
  script(type="text/javascript" nonce="NONCE_TOKEN").
    myFocus.set({
      id: 'boxID',//焦点图盒子ID
      pattern: 'mF_fscreen_tb',//焦点图风格的名称
      time: 3,//切换时间间隔(秒)
      trigger: 'click',//触发切换模式:'click'(点击)/'mouseover'(悬停)
      delay: 200,//'mouseover'模式下的切换延迟(毫秒)
      txtHeight: 'default'//标题高度设置(像素),'default'为默认CSS高度，0为隐藏
    })
block main
  .home-front
    #boxID
      .pic
        ul
          each banner in banners
            li
              a(href="https://blog.lihailezzc.com/article/" + banner.post_path, target="_blank")
                img(src="https://file.lihailezzc.com/" + banner.pic_path alt=banner.title text=banner.desc)
  .container
    .row
      .col-lg-8.col-12
        if cate
          .jumbotron.jumbotron-fluid
            .container
              h1.display-4 #{cate.name}
              p.lead #{cate.desc}
          //- h4 #{cate.name}分类下的所有文章
        each article in articles
          .single-blog-post
            .image-box
              img(src= 'https://file.lihailezzc.com/' + article.imgurl, alt=article.title, srcset="")
            .post-meta-box.bg-box
              .top-info
                .top-info-category
                  a(href="/category/" + article.category._id) #{article.category.name}
                .top-info-date
                  i.fa.fa-calendar &nbsp; #{moment(article.meta.createdAt).format('YYYY-MM-DD')} &nbsp;
                  i.fa.fa-eye &nbsp; (#{watch.includes(article.title) ? watch[(watch.findIndex(item => item === article.title) + 1)] : 0}) &nbsp;
                  i.fa.fa-comment &nbsp; (#{article.comments.length}) &nbsp;
              h4 
                a.post-title(href='/article/' + article.slug) #{article.title}
        if pageCount > 1
          nav
            ul.pagination
              - var currentPage = 1
              while currentPage <= pageCount
                if (currentPage === pageNum)
                  li.active.page-item
                    a(href=cate ? '/category/' + cate._id + '/' + currentPage : "/" + currentPage).page-link= currentPage++
                else
                  li.page-item
                    a(href=cate ? '/category/' + cate._id + '/' + currentPage : "/" + currentPage).page-link= currentPage++
      .col-lg-4.col-md-7.col-12.theme-main-sidebar
        .sidebar-box.bg-box.sidebar-categories
          h6.fa.fa-shopping-basket.ranking 类别
          ul.cateUl
            each category in categories
              li
                if cate 
                  if (cate._id == category._id)
                    a.cateItemLi.acticeCate(href="/category/" + category._id) #{category.name}
                  else
                    a.cateItemLi(href="/category/" + category._id) #{category.name}
                else
                  a.cateItemLi(href="/category/" + category._id) #{category.name}
        .sidebar-box.bg-box.sidebar-categories.sidebar-ranking
          h6.fa.fa-fire.ranking &nbsp;热门文章排行
          ul.hotUl
            each article, index  in allarticles
              li.hotLi
                a.hota(href='/article/' + article.slug) #{index + 1} #{article.title}
    .container-right
