extends ../layout

append css
  link(rel="stylesheet", href="/css/home.css")
block main
  .home-front
    .logo
      img(src="/images/zzc.png", alt="", srcset="")
  nav.navbar.navbar-expand-sm.bg-dark.navbar-dark 
    a.navbar-brand(href='/') 导航
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#collapsibleNavbar")
      span.navbar-toggler-icon
    .collapse.navbar-collapse#collapsibleNavbar
      ul.navbar-nav 
        li.nav-item 
          a.nav-link(href="/aboutMe") 关于我
        li.nav-item 
          a.nav-link(href="/messageBoard") 留言板
        if user
          li.nav-item 
            a.nav-link(href="/personal") 个人中心
  .container
    .row
      .col-lg-8.col-12
        each article in articles
          .single-blog-post
            .image-box
              img(src= article.imgurl, alt="", srcset="")
            .post-meta-box.bg-box
              .top-info
                .top-info-category
                  a(href="/" ) #{article.category.name}
                .top-info-date
                  a(href="/")
                    i.fa.fa-calendar &nbsp; #{moment(article.created).format('YYYY-MM-DD')}
              h4 
                a.post-title(href='/article/' + article._id) #{article.title}
              p!= truncate(article.content,200)
      .col-lg-4.col-md-7.col-12.theme-main-sidebar
        .sidebar-box.bg-box.about-me
          h6.sidebar-title 关于我
          img(src="/images/slide1.jpg", alt="", srcset="")
          p Hi, 我是张智超
        .sidebar-box.bg-box.sidebar-categories
          h6.sidebar-title 文章类别
          ul
            each category in categories
              li
                a(href="/") #{category.name}
    .container-right